body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff6347;
    margin-top: 50px;
}

p {
    font-size: 24px;
    margin-top: 20px;
    color: #32cd32;
}